body,
html{
  width: 100%;
  height: 100%;
  background: #1abc9c;
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item{
  height: 250px;
  width: 500px;
  background: #fff;
  border-radius: 10%;
}
.content{
  height: 100%;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.PhoneVerification h1{
  font-weight: 100;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px;

}

.lg{
  margin-top: 20px;
  margin-bottom: 10px;
}
.input-group-addon{
  background: 0 0;
  border: 0;
  color: #afb5c1;
}
